body {
    color: #0f0f0f;
    background: #FFFFF0;
    font-family: Helvetica, Arial, sans-serif;
}


/*header stlying <h1>*/

header a {
    text-decoration: none;
    color: #FFFAF0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
}

header {
    padding: 20px 35px;
    background-color: #1E90FF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.container {
    height: 80vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
}


/* Counter */

.main_container {
    height: 46px;
    width: auto;
    padding: 3px;
    margin: 2px;
    max-width: 300px;
    background-color: white;
    align-content: center;
}

.container_inner {
    height: auto;
    border: none;
    background-color: white;
    max-width: 290px;
    vertical-align: center;
    padding-top: 12px;
    padding-left: 10px;
    align-content: center;
}


/*main page*/

main {
    display: flex;
    justify-content: center;
}

.content-holder {
    display: flex;
    flex: 0 50%;
    flex-wrap: wrap;
}

#center {
    text-align: center;
    justify-content: center;
}

.h-btn {
    background: none;
    border: none;
    padding: 0;
    color: white;
    margin: 15px 10px 25px;
}

.h-default-text {
    margin: 15px 10px 25px;
}

.answer-btn-container {
    display: grid;
    gap: 15px;
    margin-top: 15px;
}

.endgame-btn-container {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.btn {
    background-color: #351C75;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    /* margin-right: 15px; */
}

.default-text {
    margin: 15px 0px 25px;
    flex: 0 100%;
}

.bold-text {
    font-weight: 700;
    font-size: 32px;
    display: inline;
}

.answer-text {
    border-top: solid 1px grey;
    color: grey;
    padding: 7px 15px;
    font-size: 28px;
    font-style: italic;
    margin-top: 30px;
    flex: 0 100%;
}

.hs-content {
    display: flex;
    flex: 0 100%;
    flex-wrap: wrap;
}

.hs-text {
    display: flex;
    flex: 1 100%;
    font-size: 28px;
    line-height: 1.5;
    flex-wrap: wrap;
}

.hs-form {
    flex: 1 30%;
    margin: 0px 10px;
    padding: 5px;
    display: flex;
}

.hs-form input {
    flex: 0 20%;
    justify-content: space-evenly;
    margin: 0px 5px;
}

.hs-container {
    background-color: lightgrey;
    background-size: cover;
    flex: 1 100%;
    padding: 5px;
    margin: 10px 0;
}

.span {
    border-bottom: 2px solid black;
    color: white;
}

.btn:hover {
    background-color: violet;
}

@media (max-width: 768px) {
    * {
        font-size: 4vw;
    }
    .content-holder {
        flex: 0 90%;
        text-align: center;
        justify-content: center;
    }
    .bold-text {
        font-size: 7vw;
    }
    .answer-text {
        font-size: 6vw;
    }
}